
body {
    background-color: initial;
}
.content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column;
}

.announcement {
    margin: .25rem 0 0 0;
    display: none;
    align-items: flex-start;
}
.announcement > :first-child {
    font-size: larger;
}
.announcement > :nth-child(2) {
    margin-left: 1em;
}
.announcement > :nth-child(3) {
    margin-left: auto;
    cursor: pointer;
}

.chat-log {
    flex: 1 1 0;
    margin-top: .25rem;
    padding: 1em;
    border-radius: .375rem;
    background-color: white;
    overflow: auto;
}
.chat-log .chat-entry {
    margin-bottom: 1em;
}
.chat-log .chatter-info {
    white-space: nowrap;
    overflow: hidden;
}
.chat-log .user-name {
    font-weight: bold;
}
.chat-log .user-name::after {
    content: " ";
}
.chat-log .room-path {
    font-size: smaller;
    color: #bbb;
    cursor: pointer;
}
.chat-log .room-path:hover {
    text-decoration: underline;
}

.smiley-browser {
    user-select: none;
    flex: 0 0 auto;
    padding: .5rem;
    border-radius: .375rem;
    background-color: #ccc;
    display: none;
}
.smiley-browser .close-button {
    float: right;
    cursor: pointer;
}
.smiley-browser .smiley-list img {
    cursor: copy;
}

.control-panel {
    user-select: none;
    flex: 0 0 auto;
    padding: .25rem;
    background-color: #aaa;
    display: flex;
}
.control-panel .my-name {
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}
.control-panel .edit-name-form {
    display: none;
}
.control-panel .buttons {
    margin-left: auto;
    display: flex;
}
.control-panel .buttons > .material-icons {
    cursor: pointer;
}

.compose-form {
    flex: 0 0 auto;
    padding: .25rem .25rem .5rem .25rem;
    background-color: #ccc;
    display: flex;
}
.compose-form textarea {
    flex: 1;
}
